name: Publish

on:
  workflow_dispatch:
    inputs:
      bump:
        type: choice
        description: semantic version bump size 
        options:
          - patch
          - minor
          - major

permissions:
  contents: write
  pull-requests: write

env:
  CARGO_TERM_COLOR: always
  CARGO_RELEASE_VERSION: 0.25.18
  GH_TOKEN: ${{ github.token }}

jobs:
  release:
    name: Release

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        id: toolchain
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }};rust@${{ steps.toolchain.outputs.cachekey }};cargo-release@${{ env.CARGO_RELEASE_VERSION }};Cargo.lock@${{ hashFiles('**/Cargo.lock') }}
      - run: cargo install cargo-release@${{ env.CARGO_RELEASE_VERSION }}
      - run: git switch -c gh-action-release
      - run: cargo release --no-publish --execute ${{ inputs.bump }}
      - run: gh pr create --title "${{ inputs.bump }} version bump to $(git describe --tags --abbrev=0)"
